__pycache__/
*.py[cod]
*$py.class

.vscode/

.DS_Store
Thumbs.db

.OLD

docker/mysql_data/*
!docker/mysql_data/.gitkeep
docker/portainer_data/*
!docker/portainer_data/.gitkeep
docker/workbench_data/*
!docker/workbench_data/.gitkeep

docker/.env